* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: #abd2fa;
    margin: 0;
    min-height: 100%;
}


.header {
    background-color: #091540;
    padding: 24px;
}

.header__page-title {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    margin: 0;
    text-align: center;
}


.git-commands {
    margin: 24px;
    color: #fff;
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 16px;
    grid-template: repeat(6, 1fr) / 1fr 3fr;
}

.git-commands__command {
    background-color: #962b0a;
    padding: 16px;
    font-size: 2rem;
}

.git-commands__effect {
    background-color: #831719;
    padding: 16px;
    font-size: 1.5rem;
}